.reset-password-container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    padding: 20px 25px;
    background-color: white;

}
.reset-password-container h2{
    margin-bottom: 40px;
    color: black;
}

.forgot-password-error {
    color: #e50914;
    margin-bottom: 30px;
}

.forgot-password-message {
    color: green;
    margin-bottom: 30px;
}

.reset-password-container form{
    display: flex;
    flex-direction: column;
}

.reset-password-container label{
    color: black;
}

.reset-password-container input{
    max-width: 250px;
    padding: 8px 10px;
    margin-bottom: 10px;
    color: black;
}

.reset-password-btn {
    background-color: white;
    color: black;
    padding: 8px 10px;
    max-width: 275px;
    margin-bottom: 30px;
}

.return-login-btn{
    text-decoration: none;
    color: black;
    text-align: center;
}

.return-login-btn:hover {
    text-decoration: underline;

}