.reset-password-container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    padding: 40px 45px;
    background-color: white;
    border-radius: 5px;

}
.forgot-password-logo{
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
}
.reset-password-container h2{
    margin-bottom: 40px;
    color: black;
}

.forgot-password-error {
    color: #e50914;
    margin-bottom: 30px;
}

.forgot-password-message {
    color: green;
    margin-bottom: 30px;
}

.reset-password-container form{
    display: flex;
    flex-direction: column;
}

.reset-password-container label{
    color: black;
    margin-bottom: 8px;
}

.reset-password-container input{
    max-width: 250px;
    padding: 8px 10px;
    margin-bottom: 10px;
    color: black;
}

.reset-password-btn {
    background-color:  #0080ff;
    color: #fff;
    padding: 14px 18px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    max-width: 275px;
    margin-bottom: 30px;
}

.reset-password-btn:hover {
    background-color:  #0080ffe7;
}

.return-login-btn{
    text-decoration: none;
    color: black;
    text-align: center;
}

.return-login-btn:hover {
    color: #e50914;

}
span {
    color: black;
    margin-right: 10px;
}
.return-signup-btn{
    text-decoration: none;
    color: black;
    text-align: center;
}

.return-signup-btn:hover {
    color: #e50914;
}